<div class="container has-text-centered">
  <div class="title is-size-1">
    <h1>
      Talk to Me
    </h1>
  </div>
  <div class="subtitle">
    <nav class="breadcrumb is-centered" aria-label="breadcrumbs">
      <ul>
        <li><a routerLink="/email">Email Me</a></li>
        <li><a routerLink="/online"><strong>Find Me Online</strong></a></li>
        <li><a routerLink="/mail">Mail Me</a></li>
      </ul>
    </nav>
  </div>
</div>

<div class="hero">
  <br/>
  <div class="level">
    <div class="level-left">
      <ul class="has-text-left">
        <li>email</li>
        <li>email form in website</li>
        <li>linkedin</li>
        <li>mail box (school)</li>
        <br/>
      </ul>
    </div>
  </div>
</div>
