<div class="container has-text-centered">
  <div class="title is-size-1">
    <h1>
      Talk to Me
    </h1>
  </div>
  <div class="subtitle">
    <nav class="breadcrumb is-centered" aria-label="breadcrumbs">
      <ul>
        <li><a routerLink="/email">Email Me</a></li>
        <li><a routerLink="/online"><strong>Find Me Online</strong></a></li>
      </ul>
    </nav>
  </div>
</div>

<br/>
<br/>
<div class="container has-text-centered">
  <div class="level">
    <div class="level-item">
      <h1 class="is-size-4">
        You can find me <a href="https://www.linkedin.com/in/caleb-ricketts-6457b6126/" target="_blank" class="has-text-link">Here</a>, on Linkedin*
      </h1>
    </div>
  </div>
  <div class="level">
    <div class="level-item">
      <h1 class="is-size-4">
        Or, you can find me <a href="https://github.com/CMRicketts" target="_blank" class="has-text-link">Here</a>, on Github
      </h1>
    </div>
  </div>
  <div class="level">
    <div class="level-item">
      <h1 class="is-size-6">
        <i>*Note: For security reasons, you have to be logged into Linkedin to view my profile page.</i>
      </h1>
    </div>
  </div>
  <div class="level">
    <div class="level-item">
      <h4 class="is-size-3 has-text-white">
        IT'S A SECRET TO EVERYBODY
      </h4>
    </div>
  </div>
</div>
