<head>
  <link href="https://fonts.googleapis.com/css?family=EB+Garamond" rel="stylesheet">
</head>
<body>
<div class="level">
  <div class="level-item">
    <h1 class="title is-1">
      Caleb M Ricketts
    </h1>
  </div>
</div>
<div class="level">
  <div class="level-item">
    <h1 class="subtitle is-3">
      Welcome
    </h1>
  </div>
</div>
<div class="container is-9 is-centered">
  <figure class="image ">
    <img src="assets/cutwide.png">
  </figure>
</div>
<br/>
<br/>

<div class="container">
    <div class="columns is-4">
      <div class="column is-half ">
        <app-meinfo></app-meinfo>
      </div>
      <div class="column ">
        <app-projectinfo></app-projectinfo>
      </div>
    </div>
  </div>
</body>
