<div class="container has-text-centered">
  <div class="title is-size-1">
    <h1>
      My Projects
    </h1>
  </div>
  <div class="subtitle is-size-5">
    <i>Find out what's going on behind the scenes.</i>
  </div>
</div>
<br/>
<div class="container">
  <div class="card-content">
    <div class="content">
      <figure>
        <figcaption><b>2018</b></figcaption>
          <ul class="has-text-left">
            <li><a href="https://cmricketts.github.io/worldMap/#/main" target="_blank"><strong>UN World Map</strong></a>:
              a data visualization website that either displays global UN Data over a map of the world, or tells the user about statistical information they selected.
              This application was built using several libraries, mainly <a href="https://github.com/d3/d3" target="_blank">d3.</a> The user is able to choose between three
              different views based on how many datasets and how many years are selected.</li>
            <li><a href="https://github.com/CMRicketts/dnd2.0" target="_blank"><strong>dnd</strong></a>: A command line Dungeons and Dragons character creator application.
              This python-powered application is a data-driven application
              to help D&D players create and keep track of their characters</li>
            <li><a href="https://github.com/CMRicketts/self_page" target="_blank"><strong>This Website</strong></a>: A long time dream, fulfilled. This website
            was created during the summer of 2018 with the intention of getting my name out and developing my front-end skills. It was created using
            an Angular JS backend, with a Bulma framework for the HTML. I also used GitPages to host the site.</li>
            <li><strong><a href="http://realmfive.com/" target="_blank">Realm V</a>  Design Studio Intern</strong>: I interned on a capstone project for Raikes juniors and seniors for <a href="http://realmfive.com/" target="_blank">Realm V.</a>
              I architected and refactored new core functionality, ensured the quality of the database through interlinked data entries,
              worked with geospatial data tracking, and unit tested every bit of code I created.
              The project was written in Ruby, and was developed using the Agile Methodology framework.</li>
          </ul>
      </figure>
      <figure>
        <figcaption><b>2017</b></figcaption>
        <ul class="has-text-left">
          <li><strong>Jdekipedia Update:</strong> I manually updated the codebase of a Wikipedia-like website from its 2007 standards to today's coding conventions.
          This project involved learning and understanding legacy code, and how it differed from it's current version. I had to go in and manually update many
          extensions used, as they had stopped maintenance in the past 10 years. I also had to manage the database entries for the website and make sure the
          old code adheres to the new standards.</li>
          <li><strong>Reading and Leading:</strong> A summer seminar where I taught children how to read and high school students about
            leadership skills I learned at <a href="https://www.culver.org/" target="_blank">Culver Military Academy.</a> It was for my Senior Service Project; a capstone project for my high school: <a href="https://www.culver.org/" target="_blank">Culver Military Academy.</a>
            At the end of the summer, my partner on the project and I made a website for the entire project, which was used by Culver to
          promote the Senior Service Project curriculum.</li>
        </ul>
      </figure>

    </div>
  </div>
</div>
