<div class="container has-text-centered">
  <div class="title is-size-1">
    <h1>
      My Resume
    </h1>
  </div>
  <div class="subtitle">
    <h1>
      Enjoy, Read, and Download!
    </h1>
  </div>
</div>
<div class="column">
  <div class="columns"></div>
  <div class="columns is-four-fifths">
    <div class="container has-text-centered">
      <embed src="../../assets/CalebRickettsResume.pdf" width="1000" height="750" type="application/pdf">
    </div>
  </div>
  <div class="columns"></div>
</div>

