<app-navbar></app-navbar>
<body>
  <div>
    <br/>
    <router-outlet></router-outlet>
  </div>
  <br/>
  <section class="hero is-light">
    <div class="hero">
      <br/>
      <div class="level">
        <div class="level-item">
          <ul class="has-text-centered">
            <li>Created by Caleb Ricketts, 2018</li>
            <li>Powered by <a href="https://bulma.io" target="_blank" class="has-text-link">Bulma</a>, <a href="https://angular.io" target="_blank" class="has-text-link">Angular</a>, and <a href="https://admin.typeform.com/signup?utm_campaign=SHjfuG&utm_source=typeform.com-12204913-Basic&utm_medium=typeform&utm_content=typeform-embedded-poweredbytypeform&utm_term=EN" class="has-text-link" target="_blank" >Typeform</a>
            </li>
            <li><a routerLink="/contact" class="has-text-link">Talk to me</a></li>
            <br/>
          </ul>
        </div>
      </div>
    </div>
  </section>
</body>

