
<div class="container has-text-centered">

  <div class="title is-size-1">
    <h1>
      Talk to Me
    </h1>
  </div>
  <div class="subtitle">
    <nav class="breadcrumb has-text-centered is-centered" aria-label="breadcrumbs">
      <ul>
        <li><a routerLink="/email">Email Me</a></li>
        <li><a routerLink="/mail">Mail Me Something</a></li>
        <li><a routerLink="/online">Find Me Online</a></li>
      </ul>
    </nav>
  </div>
  <br/>
  <div class="subtitle is-size-4">
    <h1>
      Hey. We need to talk.
    </h1>
    <h1>
      Just click one of those helpful links above.
    </h1>
  </div>

</div>
