<div class="container has-text-centered">
  <div class="title is-size-1">
    <h1>
      Talk to Me
    </h1>
  </div>
  <div class="subtitle">
    <nav class="breadcrumb is-centered" aria-label="breadcrumbs">
      <ul>
        <li><a routerLink="/email"><strong>Email Me</strong></a></li>
        <li><a routerLink="/online">Find Me Online</a></li>
      </ul>
    </nav>
  </div>
</div>

<br/>
<br/>
<body>
<div class="container is-fluid">
  <div class="Subtitle has-text-centered is-size-4">
    <h1>
      Feel free to reach out to me at any time. I'd love to talk with you!
    </h1>
    <br/>
    <div class="level">

        <div class="level-item">
          <div class="subtitle is-size-5">
            <strong>You can email me yourself at: <a href="mailto:contact@calebricketts.net"><i>contact@calebricketts.net</i></a></strong>
          </div>

      </div>
    </div>
    <br/>
    <div class="level" id="email_form">

        <div class="level-item">
          <div class="subtitle is-size-6">
            Or, you can use this (conveniently placed) form!
          </div>
        </div>
      </div>
      <br/>
      <a class="typeform-share button"
         href="https://jeffmcgee.typeform.com/to/SHjfuG"
         data-mode="popup"
         style="display:inline-block;text-decoration:none;background-color:#267DDD;color:white;cursor:pointer;font-family:Helvetica,Arial,sans-serif;font-size:20px;line-height:50px;text-align:center;margin:0;height:50px;padding:0px 33px;border-radius:25px;max-width:100%;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;font-weight:bold;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;"
         target="_blank">Launch me </a>
      <script> (function() {
        var qs,js,q,s,d=document, gi=d.getElementById, ce=d.createElement, gt=d.getElementsByTagName, id="typef_orm_share", b="https://embed.typeform.com/";
        if(!gi.call(d,id)){ js=ce.call(d,"script");
        js.id=id;
        js.src=b+"embed.js";
        q=gt.call(d,"script")[0];
        q.parentNode.insertBefore(js,q)
        } })()
      </script>
    </div>
  <script> (function() {
    var qs,js,q,s,d=document, gi=d.getElementById, ce=d.createElement, gt=d.getElementsByTagName, id="typef_orm", b="https://embed.typeform.com/";
    if(!gi.call(d,id)) { js=ce.call(d,"script");
    js.id=id;
    js.src=b+"embed.js";
    q=gt.call(d,"script")[0];
    q.parentNode.insertBefore(js,q)
    } })()
  </script>
  <br/>
  <br/>
  <div class="level">
    <div class="level-item">
      <h4 class="is-size-3 has-text-white">
        So long, and thanks for all the fish!
      </h4>
    </div>
  </div>
</div>
</body>
