<body>
<div class="scrolling-wrapper">
  <div class="card">
    <header class="card-header">
      <p class="card-header-title has-background-info">
        <a routerLink="/projects" class="has-text-white">My Projects</a>
      </p>
    </header>
    <div class="card-content">
      <div class="content">
        <ul>
          <li><a href="https://cmricketts.github.io/worldMap/#/main" target="_blank"><strong>UN World Map</strong></a>: a data visualization website that either displays global UN Data over a map of the world, or tells the user about statistical information they selected.</li>
          <li><a href="https://github.com/CMRicketts/dnd2.0" target="_blank"><strong>dnd</strong></a>: a command line Dungeons and Dragons character creator application</li>
          <li><a href="https://github.com/CMRicketts/self_page" target="_blank"><strong>This Website</strong></a>: A long time dream, fulfilled</li>
          <li><strong>Jdekipedia Update:</strong> I manually updated the codebase of a Wikipedia-like website from its 2007 standards to today's coding conventions</li>
          <li><strong>Reading and Leading:</strong> A summer seminar where I taught children how to read, and high school students about leadership skills I learned at <a href="https://www.culver.org/" target="_blank">Culver Military Academy</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
</body>
