<body>
  <div class="scrolling-wrapper">
    <div class="card">
      <header class="card-header">
        <p class="card-header-title has-background-info has-text-white">
          <a routerLink="/about" class="has-text-white">About Me</a>
        </p>
      </header>
      <div class="card-content">
        <div class="content">
          <ul>
            <li>A Hard Working, Disciplined Student with a Passion for Data Analytics.</li>
            <li>Sophomore at the Raikes School, UNL.</li>
            <li>Majoring in Actuarial Science.</li>
            <li>Minoring in Statistics, Mathematics, and Computer Science.</li>
            <li><a routerLink="/resume">Read my Resume.</a> </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</body>
