
  <div class="container has-text-centered">
    <div class="title is-size-1">
      <h1>
        About Me
      </h1>
    </div>
    <div class="subtitle is-size-5">
      <i>I am a Hard Working, Disciplined Student with a Passion for Data Analytics.</i>
    </div>
    <div class="subtitle is-size-6">
      You can learn more about me <a routerLink="/resume">here</a>
    </div>
  </div>
  <br/>
  <br/>

  <div class="card">
    <header class="card-header">
      <p class="card-header-title is-centered is-size-4">
        College
      </p>
    </header>
    <div class="card-content">
      <div class="content">
        <p>
          I am currently enrolled and going to the Raikes School of Computer Science and Management: an Honors College
          within the University of Nebraska, Lincoln. The Raikes School is a competitive and selective school that
          combines a business and computer science curriculum while placing great importance on innovation and leadership.
          I am majoring in Actuarial Science, and minoring in Mathematics, Statistics, and Computer Science.
          <br>
          <br>
          In my first year, I expanded my extracurricular horizons to include the Actuarial Science club,
          KRA (Residential Hall Association), Ballroom Dance club, Computing for All, and more.
          <figure>
            <img src="../../assets/oculus.ico">
          </figure>
        </p>
      </div>
    </div>
  </div>
  <br/>

  <div class="card">
    <header class="card-header">
      <p class="card-header-title is-centered is-size-4">
        High School
      </p>
    </header>
    <div class="card-content">
      <div class="content">
        <p>
          I attended Culver Military Academy in Culver, Indiana. I was heavily involved
          in Band and numerous extracurriculars, including, but not limited to, Speech and Debate, Dungeons and Dragons Club,
          Band Honor Organizations, the school newspaper, and French Honors Society.
          <br>
          <br>
          I graduated in June of 2017 with the rank of First Lieutenant. Since then, I've been fully integrated
          in attending and assisting with as many alumni events as I am able.
          <figure>
            <img src="../../assets/culver.png">
          </figure>
        </p>
      </div>
    </div>
    <footer class="card-footer">
    </footer>
  </div>
  <br/>

  <div class="card">
    <header class="card-header">
      <p class="card-header-title is-centered is-size-4">
        Work and Volunteer Experience
      </p>
    </header>
    <div class="card-content">
      <div class="content">
        <h4 class="has-text-centered">
          Zillow Group, Summer 2018
        </h4>
        <p>
          I worked as the Software Development Engineer Intern for their Lincoln office.
          I helped develop an internally-used website that utilized AWS API's and Lambdas. This project
          greatly helped me learn about front-end web development, back-end logic, and the integration
          between them. It helped me master Python, HTML, Typescript, Javascript, and other web frameworks.
        </p>
        <br/>
        <h4 class="has-text-centered">
          Raikes School Summer Camp TA, Summer 2018
        </h4>
        <p>
          I helped teach and mentor 30 campers at a Raikes-hosted computer science summer camp. I
          assisted teaching the basics of Alice and Java during the day, and was a mentor and facsimile
          Residential Adviser during the evenings, helping keep tabs on the campers and
          organizing events for their enjoyment.
        </p>
        <h4 class="has-text-centered">
          Realm V Design Studio Intern, Spring 2018
        </h4>
        <p>
          I interned on a capstone project for Raikes juniors and seniors for Realm V.
          I architected and refactored new core functionality, ensured the quality of
          the database through interlinked data entries, worked with geospatial
          data tracking, and unit tested every bit of code I created (and then some).
          The project was written in Ruby, and was developed under the
          Agile Methodology framework.
        </p>
        <h4 class="has-text-centered">
          Wikimedia Update, Winter 2017
        </h4>
        <p>
          I worked with a Raikes School alumni to update our 10 year old Wikimedia software-based Raikes Wikipedia site.
          I had to go and manually update many of the plugins and extensions used, as many were outdated and
          thus no longer supported. I also had to manage the database, which involved working closely with the
          WampServer software: which includes PHP, MySQL, and Apache.
        </p>
        <h4 class="has-text-centered">
          Reading and Leading, Spring 2017
        </h4>
        <p>
          I designed and led a summer weekly program for local high school students and younger children.
          I helped teach the younger children how to read and navigate my local library, and I taught
          the high school students leadership skills that I learned at Culver Military Academy.
        </p>
      </div>
    </div>
  </div>
  <br/>
