
  <div class="container has-text-centered">
    <div class="title is-size-1">
      <h1>
        About Me
      </h1>
    </div>
    <div class="subtitle is-size-5">
      <i>I am a Hard Working, Disciplined Student with a Passion for Data Analytics.</i>
    </div>
    <div class="subtitle is-size-6">
      You can learn more about me <a routerLink="/resume">here</a>
    </div>
  </div>
  <br/>
  <br/>

  <div class="card">
    <header class="card-header">
      <p class="card-header-title is-centered is-size-4">
        College
      </p>
    </header>
    <div class="card-content">
      <div class="content">
        <p>
          I am currently enrolled and going to the <a href="https://raikes.unl.edu/" target="_blank">Raikes School</a> of Computer Science and Management: an Honors College
          within the <a href="https://www.unl.edu/" target="_blank">University of Nebraska, Lincoln.</a> The <a href="https://raikes.unl.edu/" target="_blank">Raikes School</a> is a competitive and selective school that
          combines a business and computer science curriculum while placing great importance on innovation and leadership.
          I am majoring in <a href="https://www.investopedia.com/terms/a/actuarial-science.asp" target="_blank">Actuarial Science,</a> and minoring in Mathematics, Statistics, and Computer Science.
          <br>
          <br>
          In my first year, I expanded my extracurricular horizons to include the Actuarial Science club,
          KRA (Residential Hall Association), Ballroom Dance club, Computing for All, and more. Since then, I have become the president of my local hall's government, and the residential-wide student government organization.
          <figure>
            <img src="../../assets/oculus.ico">
          </figure>
        </p>
      </div>
    </div>
  </div>
  <br/>

  <div class="card">
    <header class="card-header">
      <p class="card-header-title is-centered is-size-4">
        High School
      </p>
    </header>
    <div class="card-content">
      <div class="content">
        <p>
          I attended the <a href="https://www.culver.org/" target="_blank">Culver Military Academy</a>  in Culver, Indiana. I was heavily involved
          in Band and numerous extracurriculars, including, but not limited to, Speech and Debate, Dungeons and Dragons Club,
          Band Honor Organizations, the school newspaper, and French Honors Society.
          <br>
          <br>
          I graduated in June of 2017 with the rank of First Lieutenant. Since then, I've been fully integrated
          in attending and assisting with as many alumni events as I am able.
          <figure>
            <img src="../../assets/culver.png">
          </figure>
        </p>
      </div>
    </div>
    <footer class="card-footer">
    </footer>
  </div>
  <br/>

  <div class="card">
    <header class="card-header">
      <p class="card-header-title is-centered is-size-4">
        Work and Volunteer Experience
      </p>
    </header>
    <div class="card-content">
      <div class="content">
        <h4 class="has-text-centered">
          <a href="https://www.microsoft.com/" target="_blank">Microsoft,</a> Summer 2019
        </h4>
        <p>
          I worked for Microsoft in Seattle, Washington - specifically under the Bing Maps Team. I developed a new frontend
          design for their "My Places" mobile feature. This included creating a new unified entity style, creating a completely
          new framework for entity collections that allows one page to host a list and map view, and re-implementing/updating features
          that existed in the past. I was able to become more skilled with C#, Javascript/Typescript, CSS, HTML, CSHTML, Razor, and the .NET framework.
        </p>
        <br/>
        <h4 class="has-text-centered">
          <a href="https://www.zillow.com/" target="_blank">Zillow Group,</a> Summer 2018
        </h4>
        <p>
          I worked as the Software Development Engineer Intern for their Lincoln office.
          I helped develop an internally-used website that utilized AWS API's and Lambdas. This project
          greatly helped me learn about front-end web development, back-end logic, and the integration
          between them. It helped me master Python, HTML, Typescript, Javascript, and other web frameworks.
        </p>
        <br/>
        <h4 class="has-text-centered">
          <a href="https://raikes.unl.edu/summerworkshops" target="_blank">Raikes School Summer Camp</a> TA, Summer 2018
        </h4>
        <p>
          I helped teach and mentor 30 campers at a Raikes-hosted computer science summer camp. I
          assisted teaching the basics of Alice and Java during the day, and was a mentor and
          Residential Adviser during the evenings, helping keep tabs on the campers and
          organizing events for their enjoyment.
        </p>
        <br/>
        <h4 class="has-text-centered">
          <a href="http://realmfive.com/" target="_blank">Realm V</a> Design Studio Intern, Spring 2018
        </h4>
        <p>
          I interned on a capstone project for Raikes juniors and seniors for Realm V.
          I architected and refactored new core functionality, ensured the quality of
          the database through interlinked data entries, worked with geospatial
          data tracking, and unit tested every bit of code I created.
          The project was written in Ruby, and was developed using the
          Agile Methodology framework.
        </p>
        <br/>
        <h4 class="has-text-centered">
          Wikimedia Update, Winter 2017
        </h4>
        <p>
          I worked with a Raikes School alumni to update our 10 year old Wikimedia software-based Raikes Wikipedia site.
          I had to go and manually update many of the plugins and extensions used, as many were outdated and
          thus no longer supported. I also had to manage the database, which involved working closely with the
          WampServer software: which includes PHP, MySQL, and Apache.
        </p>
        <br/>
        <h4 class="has-text-centered">
          Reading and Leading, Spring 2017
        </h4>
        <p>
          I designed and led a summer weekly program for local high school students and younger children.
          I helped teach the younger children how to read and navigate my local library, and I taught
          the high school students leadership skills that I learned at <a href="https://www.culver.org/" target="_blank">Culver Military Academy.</a>
        </p>
      </div>
    </div>
  </div>
  <br/>
